{% extends "base.html" %}

{% block main %}
<!-- schedules -->
<div class='row stop-name'>
    <div class='col'>
        <p><i class="fas fa-subway icon-4x"></i> Ashby</p>
    </div>
</div>
<div class='row schedule'>
    <div class='col my-auto'>
        <i class="fas fa-arrow-alt-circle-right"></i> Richmond
    </div>
    <div class='col text-right'>
        <div class='row no-gutters'>
            <div class='col'>
                <p>16 min</p>
            </div>
        </div>
        <div class='row no-gutters'>
            <div class='col'>
                <p class='minutes'>10:12 pm</p>
            </div>
        </div>
    </div>
</div>
<div class='row'>
    <div class='col-8 my-auto'>
        <i class="fas fa-arrow-alt-circle-right"></i> Warm Springs
    </div>
<div class='col text-right'>
    <div class='row no-gutters'>
        <div class='col'>
            <p>9 min</p>
        </div>
    </div>
    <div class='row no-gutters'>
        <div class='col'>
            <p class='minutes'>10:12 pm</p>
        </div>
    </div>
</div>
{% endblock main %}