{% extends "base.html" %}

{% block main %}
<!-- station -->
{% for abbr, schedules in stops.items %}
<div class='row stop-name'>
    <div class='col'>
        <p data-toggle="modal" data-target="#changeStation"><i class="fas fa-subway icon-4x"></i> {{ schedules.0.station_name }}</p>
    </div>
</div>

<!-- modal for switching station -->
<div class="modal fade" id="changeStation" tabindex="-1" role="dialog" aria-labelledby="changeStationLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="list-group list-group-flush">
                    {% for abbr, name in stations.items %}
                    <a href="/{{ abbr }}" class="list-group-item list-item-station-option list-group-item-action {% if schedules.0.station_name == name %}active{% endif %}">{{ name }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<!-- schedules -->
{% for schedule in schedules %}
<div class='row schedule'>
    <div class='col my-auto'>
        <i class="fas fa-arrow-alt-circle-right"></i> {{ schedule.destination_name }}
    </div>
    <div class='col text-right'>
        <div class='row no-gutters'>
            <div class='col'>
                <p>
                    {{ schedule.arrival_minutes }} {% if schedule.arrival_minutes != "Leaving" %}min{% endif %}
                </p>
            </div>
        </div>
        <div class='row no-gutters'>
            <div class='col'>
                <p class='arrival-time'>{{ schedule.arrival_time }}</p>
            </div>
        </div>
    </div>
</div>
{% if not forloop.last %}
<hr class='schedule-divider'/>
{% endif %}
{% endfor %}
{% endfor %}
{% endblock main %}