/* custom css for base */

/* offline font usage */
/* @font-face {
    font-family: Karla;
    src: url('../fonts/google-fonts/Karla/Karla-Bold.ttf');
}
@font-face {
    font-family: Maitree;
    src: url('../fonts/google-fonts/Maitree/Maitree-Medium.ttf');
} */


/* GLOBAL */
body {
    color: #f5eef1;
    background-color: #111;
    font-family: 'Maitree', serif;
}

.collapsing {
    -webkit-transition: height .2s ease;
    -o-transition: height .2s ease;
    transition: height .2s ease;
  }

  


/* NAVBAR */   
.navbar-custom{
    background-color: #111;
}

.navbar-brand,
.navbar-nav a {
    font-family: 'Karla', sans-serif;
    color: #f5eef1;
}

/* CONTENT */

/* MODAL */
.list-item-station-option {
    background-color: #222222;
    color: #f5eef1;
}

.modal-body {
    padding: 0;
}

/* CARD */

/* custom padding class */
.p-small {
    padding: .07rem;
}

/* padding for left and right of window */
.station-card-row {
    padding-left: 1rem; 
    padding-right: 1rem;
}

.station-card {
    background-color: #222222;
}

.station-card-header {
    font-size: 1.5em;
}

.station-card-header:hover{
    color: #757E71;
    cursor: pointer;
}

/* subway icon color */
.fa-subway {
    color: #757E71;
}

/* arrival times colors */
.arrival-list-group-item {
    background-color: #222222;
    font-size: 1.25em;
}

.arrival-list-row {
    min-height: 3.45rem;
    
}

.list-group-schedules > a {
    border-top: 1px solid #111;
}

/* hover colors and cursors */
.arrival-list-group-item.linked:hover{
    color: #757E71;
    cursor: pointer;
}


/* make cards responsive */
@media (min-width: 1px) {
    .card-columns {
        column-count: 1;
    }
}

@media (min-width: 768px) {
    .card-columns {
        column-count: 2;
    }
}

@media (min-width: 1200px) {
    .card-columns {
        column-count: 3;
    }
}

/* font larger for arrival minutes */
.arrival-minutes {
    font-size: 1.4em;
}

/* make font much smaller for minutes label in eta row */
.minutes-label {
    font-size: .6em;
    margin-top: -.3rem;
}