/* custom css for base */

/* major styling */
body {
    color: #f5eef1;
    background-color: #222222;
    font-family: 'Maitree', serif;
}

p {
    margin: 0;
}


/* navbar styling */

.navbar-custom{
    background-color: #111;
}

.navbar-brand,
.navbar-nav a {
    font-family: 'Karla', sans-serif;
    color: #f5eef1;
}

.fa-search {
    color: #f5eef1;
}


/* schedule styling */

/* row displaying stop name */
.stop-name {
    font-size: 1.4em;
    padding-top: .25em;
    padding-bottom: .25em;
    border-top: 1px solid; 
    border-bottom: 1px solid;
    border-color: #111;
}

/* set subway icon color */
.fa-subway {
    color: #757E71;
}

/* style modal show station options */
.modal-content {
    background-color: #222222;
}

.modal-body {
    padding: 0;
}

.list-item-station-option {
    color: #f5eef1;
    background-color: #222222;
    font-family: 'Maitree', serif;
    padding: .25 em;
}

/* make font much smaller for minutes label in eta row */
.minutes {
    font-size: .25em;
}

/* sets format for hr element between etas */
.schedule-divider {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    border: 0;
    border-top: 1px dotted #111;
  }