/* custom css for base */

/* major styling */
body {
    color: #f5eef1;
    background-color: #222222;
    font-family: 'Maitree', serif;
}

p {
    margin: 0;
}

hr {
    margin-left: -10%; 
    margin-right: -10%
}

/* navbar styling */

.navbar-custom{
    background-color: #111;
}

.navbar-brand,
.navbar-nav a {
    font-family: 'Karla', sans-serif;
    color: #f5eef1;
}

.fa-search {
    color: #f5eef1;
}


/* content styling */

/* row displaying station name */
.station-name-row {
    font-size: 1.5em;
    padding-top: .4em;
    padding-bottom: .4em;
}

.station-name-row:hover{
    color: #757E71;
    cursor: pointer;
}

/* set subway icon color */
.fa-subway {
    color: #757E71;
}

/* row displaying first schedule for each station */
.schedule-row {
    font-size: 1.25em;
    height: 4em;
}

.schedule-row:hover{
    color: #757E71;
}

.schedule-row-collapsed {
    font-size: 1.25em; 
    border-top: 1px solid #111;
    padding-top: .3em; 
    padding-bottom: .3em;
}

/* style modal show station options */
.modal-content {
    background-color: #222222;
}

.modal-body {
    padding: 0;
}

/* styling for actual etas */
.list-item-station-option {
    color: #f5eef1;
    background-color: #222222;
    font-family: 'Maitree', serif;
    padding-top: .25em;
}

/* font larger for arrival minutes */
.arrival-minutes {
    font-size: 1.4em;
}

/* make font much smaller for minutes label in eta row */
.minutes-label {
    font-size: .6em;
}

/* sets format for hr element between rows */
.schedule-divider {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    border: 0;
    border-top: 1px solid #111;
  }
